* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Inter', sans-serif;
}
#header {
  background-color: #ffffff;
}
/* Navbar Design Part */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}
.nav-links {
  display: flex;
  gap: 24px;
}
ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #575757;
}
ul li a {
  text-decoration: none;
  color: #575757;
}
/* Common Button Style */
.btn-common {
  padding: 12px 30px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: #1d4ed8;
  cursor: pointer;
}

/* Hero/Banner Design part */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.hero-content {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}
.hero-content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-top: 136px;
}
.hero-content p {
  color: rgb(199, 197, 197);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 230px;
  padding: 0 20px;
}

